        /*  Header */

.header{
  padding-top: 40px;
  display: table-header-group;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 3;
}

.header li{
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  font-weight: lighter;
}

.header .selected{
  color: blue;
  font-weight: normal;
}

.left{
  float: left;
}

.right{
  float: right;
}

.header .start{
  padding-left: 30px;
}

.header .end{
  padding-right: 30px;
}

.header .right li{
  display: inline-block;
  list-style: none;
}

.header .name{
  font-size: larger;
  font-weight: bolder;
}


            /* Home */

.home{
  width: 100%;
}

.home-col-1{
  width: 40%;
  float: left;
  background-color: rgb(236, 227, 209);
  margin-top: 100px;
  padding-left: 30px;
  z-index: -1;
  height: 700px;
}

.home-col-2{
  width: 50%;
  margin-top: 100px;
  float: right;
  height: 700px;
  z-index: -1;
}

.home-col-3{
  box-shadow: -5px -5px 50px 5px gray;
  position: absolute;
  top: 180px;
  left: 25%;
  width: 25%;
  min-width: 200px;
  background-color: rgb(241, 241, 239);
  text-align: center;
}

.home-col-3 img{
  width: 50%;
  height: 40%;
  border-radius: 60%;
  margin-top: 2%;
  display: block;
  margin-bottom: 5%;
}

.home-col-3 .name{
  font-size: larger;
  font-weight: bold;
}

.home-col-3 .line{
  margin-top: 5%;
  width: 30%;
  height: 2px;
  background-color: blue;
  margin-bottom: 10%;
}

.home-col-3 .designation{
  font-size: medium;
  color: gray;
}

.home-col-3 .icons{
  background-color: white;
  width: 100%;
  height: 50px;
  margin-top: 20%;
}