
.square{
  width: 13px;
  height: 13px;
  background: blue;
  display: inline-block;
}

.fa {
  margin-top: 10px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

/*                                     Header                     */

.header{
  padding-top: 40px;
  display: table-header-group;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 3;
}

.header:hover{
  box-shadow: 5px 5px 30px white;
}

.header li a{
  color: gray;
  text-decoration: none;
}

.header li a:hover{
  color: blue;
}

.header li{
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  font-weight: lighter;
}


.header .selected{
  color: blue;
  font-weight: normal;
}

.left{
  float: left;
}

.right{
  float: right;
}

.header .start{
  padding-left: 30px;
}

.header .end{
  padding-right: 30px;
}

.header .right li{
  display: inline-block;
  list-style: none;
}

.header .name{
  font-size: larger;
  font-weight: bolder;
}


/*                                Home                              */

.home{
  width: 100%;
  display: grid;
}

.home-row-1{
  grid-row: 1;
}

.home-col-1{
  grid-column: 1;
  width: 40%;
  float: left;
  background-color: rgb(236, 227, 209);
  padding-left: 30px;
  z-index: -1;
  min-height: 750px;
}

.home-col-2{
  grid-column: 2;
  width: 50%;
  padding-top: 80px;
  margin-top: 100px;
  float: right;
  min-height: 700px;
  z-index: -1;
}

.home-col-3{
  box-shadow: -5px -5px 50px 5px gray;
  position: absolute;
  top: 180px;
  left: 25%;
  width: 25%;
  min-width: 200px;
  background-color: rgb(241, 241, 239);
  text-align: center;
}

.home-col-3:hover{
  box-shadow: 5px 5px 50px 5px gray;
}

.home-col-3 img{
  width: 50%;
  height: 40%;
  border-radius: 60%;
  margin-top: 2%;
  display: block;
  margin-bottom: 5%;
}

.home-col-3 .name{
  font-size: larger;
  font-weight: bold;
}

.home-col-3 .line{
  margin-top: 5%;
  width: 30%;
  height: 2px;
  background-color: blue;
  margin-bottom: 10%;
}

.home-col-3 .designation{
  font-size: medium;
  color: gray;
}

.home-col-3 .icons{
  background-color: white;
  width: 100%;
  height: 50px;
  margin-top: 20%;
}

.home-col-3 .icon{
  width: 5%;
  height: 50%;
  display: inline-block;
  border-radius: 0%;
  padding: 0px 10%;
}

.home-col-2 .content{
  padding-left: 10%;
  padding-right: 40px;
  display: grid;
}

.home-col-2 .content .start{
  font-size: 35px;
  font-weight: bolder;
  padding-bottom: 30px;
}

.home-col-2 .content .intro{
  font-weight: bolder;
  font-size: 20px;
  padding-bottom: 15px;
}

.home-col-2 .content .button{
  margin: 20px;
  background-color:white;
  color: gray;
  border: 2px solid black;
  font-weight: bold;
  width: 100px;
  border-radius: 20px;
  height: 35px;
}

.home-col-2 .content .button:hover{
  transition: 1s;
  background-color: blue;
  border: none;
  color: white;
}

.home-col-2 .content .content-body{
  color: gray;
  padding-bottom: 50px;
}

.home-col-2 .content .tail{
  color: gray;
}

.home-row-2{
  grid-row: 2;
  width: 100%;
}


/*                               FOOTER                      */

.footer{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  display: grid;
  width: 80%;
  color: gray;
  font-size: small;
}


.footer-content{
  padding-left: 5%;
  padding-right: 5%;
  grid-column: 1;
}

.footer-links{
  grid-column: 2;
  display: block;
}

.footer .link{
  list-style: none;
  text-decoration: none;
  padding-right: 5%;
  color: gray;
}

.footer .link:hover{
  color: blue;
}


/*                                SKILLS                    */

.skills{
  width: 100%;
  min-height: 700px;
  background:  rgb(236, 227, 209);
  padding-top: 100px;
}

.skills .title{
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 2%;
}

.skills .skillsets{
  width: 70%;
  margin: auto;
  padding: 3%;
  padding-top: 0%;
}


/*                            SKILLSET                    */


.skillset {
  background-color: white;
  padding: 50px;
  margin-top: 3%;
  box-shadow: 5px 5px 50px gray;
}


.skillset .skillset-title{
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}

.skillset .skillset-skills{
  padding: 30px;
}


/*                               SKILL                     */

.skill .name{
  font-weight: bolder;
  margin-bottom: 15px;
  color: gray;
}

.skill .percentage{
  margin-left: 20px;
  width: 40%;
  border: 2px solid green;
  margin-bottom: 30px;
  display: inline-block;
  box-shadow: 3px 3px 20px;
}

.skill .percentage .percentage-value{
  background-color: greenyellow;
  border-radius: 10px;
  height: 10px;
}


/*                             PROJECTS                      */


.projects{
  padding-top: 100px;
  width: 100%;
  min-height: 700px;
  background-color: rgb(236, 227, 209);
}

.projects .title{
  font-size: larger;
}

.projects-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.project{
  box-sizing: border-box;
  background-color: white;
  margin: 5%;
  padding: 1%;
  padding-bottom: 20px;
  width: 40%;
  min-width: 250px;
  float: left;
  box-shadow: 5px 5px 20px black;
  border: 2px groove white;
}

.project:hover{
  box-shadow: -5px -5px 50px 5px gray;
  transition: 0.5s;
}

.project-image{
  width: 90%;
  height: 200px;
}

.project-title{
  color: gray;
}

.project-description{
  color: gray;
}

.project-technology{
  color: rgb(184, 150, 87);
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

/*                            CONTACT                          */

.contact{
  padding-top: 180px;
  width: 100%;
  min-height: 500px;
  background-color: rgb(236, 227, 209);
}

.contact .title{
  font-size: larger;
}

.contact-content{
  background-color: white;
  margin-top: 30px;
  padding: 20px;
  display: flexbox;
  width: 70%;
  box-shadow: 1px 1px 10px;
}

.contact-content:hover{
  box-shadow: 5px 5px 40px;  
}

.contact-content .name{
  font-size: larger;
  color: blueviolet;
}


.contact-content .address{
  padding-left: 10%;
  color: gray;
  text-align: left;
}

.contact-content .address p:hover{
  color: black;
}

.contact-content .mail a{
  color: blue;
  text-decoration: none;
}

.contact-content .mail a:hover{
  color: blueviolet;
  background-color: rgba(231, 229, 229, 0.89);
  transition: 0.5s;
}


@media only screen and (max-width: 768px){

              /*          Header           */

  .header{
    padding-top: 10px;
  }

  .header li{
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: small;
  }

              /*            Home            */

  .home-col-1{
    display: none;
  }

  .home-col-2{
    width: 100%;
    background-color: aliceblue;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 30px;
  }

  .home-col-3 .icons{
    display: none;
  }

  .home-col-3 .line{
    margin-bottom: 0px;
  }

  .home-col-3 img{
    width: 30%;
    margin: 0px;
  }

  .home-col-3 .designation{
    display: none;
  }


  .home-col-3{
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    margin: auto;
    padding-top: 150px;
    margin-bottom: 0px;
    background-color: aliceblue;
    box-shadow: none;
  }


  .home-col-3:hover{
    box-shadow: none;
  }
          /*           Projects          */


  .project{
    width: 80%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: aliceblue;
  }

  .project .project-image{
    height: 120px;
  }

  .project .project-description{
    font-size: small;
  }

  .projects{
    background-color: rgb(174, 202, 226);
  }

          /*             SKILLS           */

  .skills{
    background-color: rgb(174, 202, 226);
  }

  .skills .skillsets{
    width: 90%;
  }

  .skillset{
    padding: 10px;
    background-color: aliceblue;
  }

  .skillset .skillset-title{
    font-size: medium;
  }

  .skillset .skillset-skills{
    padding: 10px;
  }

  .skill .percentage{
    width: 60%;
  }

  .skill .name{
    font-size: medium;
    font-weight: bold;
  }

  .contact{
    padding-top: 100px;
    background-color: rgb(174, 202, 226);
  }
}


