
.header{
  padding-top: 40px;
  box-shadow: 5px 5px 5px black;
  display: table-header-group;
  width: 100%;
  position: fixed;
}

.header li{
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  font-weight: lighter;
}

.header .selected{
  color: blue;
  font-weight: normal;
}

.left{
  float: left;
}

.right{
  float: right;
}

.header .start{
  padding-left: 30px;
}

.header .end{
  padding-right: 30px;
}

.header .right li{
  display: inline-block;
  list-style: none;
}

.header .name{
  font-size: larger;
  font-weight: bolder;
}